version: "3.1"

services:
  expressvpn:
    image: polkaned/expressvpn
    container_name: expressvpn
    environment:
        - ACTIVATION_CODE=${CODE}
        - SERVER=${SERVER}
    cap_add:
        - NET_ADMIN
    devices:
        - "/dev/net/tun:/dev/net/tun"
    privileged: true
    tty: true
    command: /bin/bash
    restart: unless-stopped
